<navbar>
    <nav class="navbar border-bottom sticky-top">
        <div class="container-fluid">
          <a class="navbar-brand" href="#" style="color:#9A4444">EnDecrypt</a>
        <div class="navbar nav ms-auto">
          <a class="nav-link" href="/signup"><b>Sign Up</b></a>
          <a class="nav-link" href="/login"><b>Log In</b></a>
          <a class="nav-link" href="/logout"><b>Log Out</b></a>
        </div>
      </div>
    </nav>
</navbar>