<%- layout('/layouts/boilerplate.ejs') %>
<body class="row">
    <form class="col-6 offset-3" method="get" action="/download/<%= url %>">
        <h3>File Uploaded Successfully</h3>
        <button class="btn btn-primary">Download Encrypted File</button>
    </form>
</body>