<%- layout('/layouts/boilerplate.ejs') %>
<body>
    <div class="row mt-2">
        <div class="col-8 offset-2">
            <h1>Just show your face to encrypt</h1>
            <h2>Skincare is not necessary. Our AI can recognize distored face too.</h2>
            <form action="/encryptformsubmit" method="POST" enctype="multipart/form-data">
                <label for="file" class="form-label">File Input</label>
                <input type="file" name="file" id="file" class="form-control">
                <button class="btn btn-primary mt-3">Encrypt</button>
            </form>
        </div>
        <div class="col-8 offset-2">
            <h1>Decryption happens here</h1>
            <h2>Sorry we don't have forgot face option</h2>
            <form action="/decryptformsubmit" method="POST" enctype="multipart/form-data">
                <label for="file" class="form-label">File Input</label>
                <input type="file" name="file" id="file" class="form-control">
                <button class="btn btn-primary mt-3">Decrypt</button>
            </form>
        </div>
    </div>
</body>