body{
    font-family:'Agbalumo' !important;
    background-color: #F4DFB6 !important;
}

footer{
    background-color: #D6D46D;
}

.navbar{
    background-color: #D6D46D;
}

.nav-link{
    color:#9A4444 !important;
}